html{padding-bottom:180px;}
body{max-width:800px;margin:40px auto 80px;padding:0 10px;font:14px/20px "Quattrocento", serif;color:#444;background:#fdfdfd;}
h1, h2{margin:25px 0;font-weight:normal;line-height:normal;font-size:24px;clear:both;overflow:hidden;}
h2{border-top:1px solid #000;}
h1{margin-top:45px;font-size:40px;}
ul{margin:10px 0 40px;}
a{color:#999;}
.part{position:relative;margin:0 0 120px 0;overflow:hidden;}
.part .demo{float:left;width:200px;position:relative;}
.part pre{float:left;width:600px;}

@media all and (max-width: 640px){body{margin-top:0;}}
@media all and (max-width: 300px){
	body{min-width:100px;margin-top:0;}
	h1{font-size:34px;}
	ul{padding:0;list-style:none;}
	h2 + ul li{margin-bottom: 10px;}
}
::-moz-selection,::selection{color:#fdfdfd;background:#444;}

strong{margin:20px 0 0 0;display:block;}
h3{margin:20px 0 0 0;}
pre{margin:0;background:#ddd;}

.color0{color:#00f;}
.color1{color:#f00;}
.params a{color:#000;text-decoration:none;}
.params li{list-style-type:none;margin-bottom:20px;}
.params strong{margin:0;text-decoration:underline;}
.params li li{margin-bottom:0px;}
.params li li strong{display:inline;text-decoration:none;}

/* Example 1 */
#example1{width:100px;height:45px;overflow:hidden;border:1px solid #555;}
.example1{width:100px;}

/* Général */
.windows{width:100px;height:45px;overflow:hidden;margin:0 auto;border:1px solid #ccc;}
.example{width:100px;}

/* Exemple 2 */
.arr{position:absolute;top:13px;width:1px;height:0px;border:0;border-right:10px solid #000;border-top:10px solid transparent;border-bottom:10px solid transparent;cursor:pointer;}
#arrowNext{right:18px;border-left:10px solid #000;border-right:10px solid transparent;}
#arrowPrev{left:27px;}

/* Exemple 3 */
.thumbnails{margin:10px 0 0 45px;}
.thumbnails span{float:left;width:10px;height:10px;margin:0 6px;cursor:pointer;}
.c1{background:#f00;}
.c2{background:#0f0;}
.c3{background:#00f;}
.c4{background:#f0f;}
.c5{background:#0ff;}

/* Exemple 5 */
.thumbnails0{margin:10px 0 0 45px;}
.thumbnails0 span{display:block;width:100px;height:23px;line-height:23px;margin:0 6px;cursor:pointer;text-align:center;}


/* Exemple 7 */
.thumbnails1{margin:10px 0 0 45px;}
.thumbnails1 span{float:left;width:10px;height:10px;margin:0 6px;cursor:pointer;}
#arrowNext0{right:18px;border-left:10px solid #000;border-right:10px solid transparent;}
#arrowPrev0{left:27px;}


/* Exemple 9 */
.thumbnails2{margin:10px 0 0 45px;}
.thumbnails2 span{float:left;width:10px;height:10px;margin:0 6px;cursor:pointer;}
#arrowNext1{right:18px;border-left:10px solid #000;border-right:10px solid transparent;}
#arrowPrev1{left:27px;}
.compteur{padding:20px 0 0 0;overflow:hidden;display:block;clear:both;font-size:20px;}
#counterIndicator{float:left;font-weight:bold;margin:0 0 0 50px;}